<!--  TODO:  Currently missing accessibility enhancements.-->
<div [ngClass]="className">
  @if (weather$ | async; as weather){
  <div
    class="relative rounded-full border-4 border-gray-200 dark:border-white w-[256px] sm:w-80 lg:w-96 aspect-square dark:bg-black"
  >
    <div
      class="absolute inset-2.5 rounded-full border border-gray-200 dark:border-white"
    ></div>
    <div
      class="absolute inset-5 rounded-full border border-gray-300 dark:border-white"
    ></div>
    <!-- Hour ticks -->
    @for (tick of hourTicks;track tick) {
    <div
      class="absolute inset-7 flex justify-center"
      [style.transform]="'rotate(' + tick * 30 + 'deg)'"
    >
      <span
        [ngClass]="
          tick % 3 === 0
            ? 'h-2 w-[2.5px] bg-black dark:bg-white'
            : 'h-2.5 w-px bg-gray-500 dark:bg-white'
        "
      ></span>
    </div>
    }
    <!-- Minute ticks -->
    @for (tick of minuteTicks;track tick) { @if (tick % 5 !== 0) {
    <div
      class="absolute inset-7 flex justify-center"
      [style.transform]="'rotate(' + tick * 6 + 'deg)'"
    >
      <span class="h-1 w-[0.5px] bg-gray-400 dark:bg-white/80"></span>
    </div>
    } }

    <!-- NOTE: I have removed the backdrop from the original design.
     Reason: The minute and hour hands were not clearly visible over the backdrop,
     impacting readability of the clock. -->
    <!-- Date pill -->
    <div
      class="px-2 py-1 text-xs top-14 md:text-sm md:top-18 lg:top-22.5 lg:text-md absolute left-1/2 -translate-x-1/2 tracking-widest rounded-md border border-gray-300 bg-linear-to-r from-gray-100/80 via-gray-100/60 to-gray-100/80 shadow-sm z-10"
    >
      {{ dateText }}
    </div>

    @if (weather?.data?.icon && weather?.data?.temp) {
    <!-- Weather pill -->
    <div
      class="absolute left-1/2 -translate-x-1/2 px-2 py-1 text-xs bottom-14 md:text-sm md:bottom-18 lg:bottom-22.5 lg:text-md rounded-lg border border-gray-300 bg-linear-to-r from-gray-100/80 via-gray-100/60 to-gray-100/80 shadow-sm z-10 flex items-center gap-1"
    >
      <img
        *ngIf="weather.data?.icon"
        [src]="
          'https://openweathermap.org/img/wn/' + weather.data?.icon + '@2x.png'
        "
        alt="Weather icon"
        class="w-5 h-5 bg-gray-500 rounded-full"
      />
      {{ weather.data?.temp }}°C
    </div>
    }

    <!-- Hour hand -->
    <div
      class="absolute left-1/2 top-1/2 w-1.5 bg-black rounded-md origin-bottom h-10 sm:h-12 lg:h-16 dark:bg-white"
      [style.transform]="
        'translateX(-50%) translateY(-100%) rotate(' + hoursDeg + 'deg)'
      "
    ></div>

    <!-- Minute hand -->
    <div
      class="absolute left-1/2 top-1/2 w-1 bg-black rounded-md origin-bottom h-16 sm:h-20 lg:h-24 dark:bg-white"
      [style.transform]="
        'translateX(-50%) translateY(-100%) rotate(' + minutesDeg + 'deg)'
      "
    ></div>

    <!-- Second hand -->
    <div
      class="absolute left-1/2 top-1/2 w-0.5 bg-black rounded-md h-22 sm:h-28 lg:h-36 dark:bg-white"
      style="transform-origin: 50% 85%"
      [style.transform]="
        'translateX(-50%) translateY(-85%) rotate(' + secondsDeg + 'deg)'
      "
    ></div>

    <!-- Center circle -->
    <div
      class="absolute left-1/2 top-1/2 w-4 h-4 border-4 border-black rounded-full -translate-x-1/2 -translate-y-1/2 bg-white"
    ></div>
  </div>
  <!-- TODO: Improve error handling by adding retry logic -->
  @if (weather.error) {
  <p class="text-red-500 mt-4 text-sm">
    {{ errorMessage }}
  </p>
  } }
</div>
