<!--
  NOTE:
  This text is currently hardcoded for simplicity.
  In a production-ready application, this should be moved to
  an internationalization (i18n) solution.
-->
<h1 class="text-center md:text-2xl">
  Technical Assignment: Clock & Weather Widget
</h1>
<div class="flex flex-col justify-center items-center mt-4 gap-4 min-w-fit">
  <app-clock className="flex items-center flex-col"></app-clock>
  <mat-slide-toggle
    hideIcon="true"
    aria-label="Toggle dark mode"
    [checked]="isDarkModeEnabled"
    (change)="toggleDarkMode($event.checked)"
  >
    <span class="text-sm font-sans font-medium"> Enable Dark Mode </span>
  </mat-slide-toggle>
</div>
